.topBarView {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  min-height: 80px;
  max-height: 90px;
  width: 99vw;

  .homeButton {
    margin-left: 0.5vw;
  }

  .innerWrapper {
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1vw;
    min-width: 90vw;

    .searchBar {
      margin-left: 3vw;
      display: flex;
      flex-direction: row;
      min-width: 360px;
      width: 60%;


      .categories {
        min-width: 130px;
      }

      .searchInput {
        min-width: 230px;
      }
    }
  }

  .buttonsLeft {
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & Button {
      margin-left: 1vw;
    }
  }
}
