.Container {
  border: 1px solid green;
  width: 100vw;
  height: 100vh;


  & .CardContainer {
    border: 1px solid red;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
}
